body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-family: Helvetica, Arial,  sans-serif;
  padding: 0px;
  margin: 0;
  overflow-x: hidden; }

.link, .filters__link {
  color: #777;
  display: block;
  line-height: 30px;
  text-decoration: none; }

.filters__link:hover {
  color: red; }

.rel__item, .list, .list__item {
  margin: 0;
  padding: 0;
  position: relative; }

body .act {
  color: #f61000; }

body .auth-window {
  padding: 0; }

body .active {
  color: #f60000; }

@media (max-width: 320px) {
  body .auth-window {
    width: 100% !important;
    margin-left: initial !important;
    left: initial !important; }
  .reg-btn {
    font-size: 3.5vw !important; } }

.wrapper {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 97%;
  margin: 0 auto; }

.wrapper__inactive {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.filters__button {
  text-align: center;
  width: 100%;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: block;
  border-width: 0;
  border-style: none;
  border-color: inherit;
  border-image: none;
  outline: none; }

body .hidden {
  display: none; }

body .hide {
  display: none; }

body .hide_todo, body .rm_todo {
  height: 0;
  opacity: 0;
  padding: 0; }

.animated__long {
  -webkit-transition: all, 0.5s ease-in-out;
  -khtml-transition: all, 0.5s ease-in-out;
  -moz-transition: all, 0.5s ease-in-out;
  -ms-transition: all, 0.5s ease-in-out;
  -o-transition: all, 0.5s ease-in-out;
  transition: all, 0.5s ease-in-out; }

.animated {
  -webkit-transition: all, 0.15s ease-in-out;
  -khtml-transition: all, 0.15s ease-in-out;
  -moz-transition: all, 0.15s ease-in-out;
  -ms-transition: all, 0.15s ease-in-out;
  -o-transition: all, 0.15s ease-in-out;
  transition: all, 0.15s ease-in-out; }

.animated::before {
  -webkit-transition: all, 0.2s ease-in-out;
  -khtml-transition: all, 0.2s ease-in-out;
  -moz-transition: all, 0.2s ease-in-out;
  -ms-transition: all, 0.2s ease-in-out;
  -o-transition: all, 0.2s ease-in-out;
  transition: all, 0.2s ease-in-out; }

.animated::after {
  -webkit-transition: all, 0.2s ease-in-out;
  -khtml-transition: all, 0.2s ease-in-out;
  -moz-transition: all, 0.2s ease-in-out;
  -ms-transition: all, 0.2s ease-in-out;
  -o-transition: all, 0.2s ease-in-out;
  transition: all, 0.2s ease-in-out; }

.todos__item {
  position: relative; }

.todos, .todos__item, .todos__edit {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  width: 620px; }

@media (max-width: 47.99em) {
  .todos, .todos__item, .todos__edit {
    width: 100%; } }

.todos__header {
  color: rgba(175, 47, 47, 0.15);
  font-size: 6vh;
  font-weight: 400;
  margin: 20px auto 0px;
  text-align: center;
  padding-top: 38px; }

@media (max-width: 36.62em) {
  .todos__header {
    font-size: 6vw; } }

.todos__edit_item {
  position: relative;
  height: 0;
  overflow: hidden;
  width: 100%; }

.todos__item, .todos__edit {
  -webkit-box-shadow: inset 0 0 1px #808080;
  -khtml-box-shadow: inset 0 0 1px #808080;
  -moz-box-shadow: inset 0 0 1px #808080;
  -ms-box-shadow: inset 0 0 1px #808080;
  -o-box-shadow: inset 0 0 1px #808080;
  box-shadow: inset 0 0 1px #808080;
  border: 0;
  display: block;
  min-width: 230px;
  padding: 16px 40px 16px 60px; }

.todos__item:focus, .todos__edit:focus {
  outline: none; }

@media (max-width: 47.99em) {
  .todos__item, .todos__edit {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px 30px 16px 40px;
    width: 100%;
    margin: 0; } }

.todos__item {
  overflow: hidden;
  margin-left: 0; }

.todos__body {
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1); }

.todos__checkbox {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  outline: none;
  position: absolute;
  left: 2px;
  top: 0;
  text-align: center;
  width: 34px; }

.visible .todos__checkbox {
  display: inherit; }

.todos__checkbox_main {
  display: none;
  line-height: 44px; }

.todos__checkbox_main::before {
  content: '\2714';
  color: #e6e6e6;
  font-size: 22px;
  padding: 16px 8px; }

.todos__checkbox_main:checked::before {
  color: #f90303; }

.inactive .todos__checkbox_main:checked::before {
  color: #e6e6e6; }

.todos__checkbox_sub {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 41px; }

.todos__checkbox_sub::before {
  content: '\2714';
  color: #cdcdcd;
  font-size: 22px;
  padding: 16px 8px; }

.todos__checkbox_sub:checked::before {
  color: #06be24; }

.todos__checkbox_del {
  cursor: pointer;
  left: inherit;
  line-height: 46px;
  right: 0;
  text-align: center; }

.todos__checkbox_del::before {
  content: '\2717';
  color: #cdcdcd;
  font-size: 22px; }

.todos__checkbox_del:hover::before {
  color: #f90303; }

.list__item {
  display: inline-block;
  width: 100%;
  z-index: 1; }

.todos__edit {
  margin-top: 15px;
  width: 100%; }

.visible_edit .todos__edit {
  display: block; }

.visible .filters {
  display: inherit; }

.filters {
  display: none;
  margin: 0;
  padding: 10px 0;
  position: relative; }

.filters::before {
  content: '';
  position: absolute;
  top: 0;
  background: #b7b7b7;
  border-top: 1px solid #d8d8d8;
  display: block;
  width: 100%;
  height: 1px; }

body .filters__item {
  display: inline-block;
  text-align: center;
  margin-bottom: 3px; }

body .filters__link {
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

@media (max-width: 47.99em) {
  body .filters__link {
    font-size: 12px;
    padding: 0; } }

.filters__link_act {
  color: #ff0000; }

.filters__count {
  margin: 5px;
  color: inherit;
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 129px; }

@media (max-width: 47.99em) {
  .filters__count {
    width: 100%; } }

.filters__nav {
  -webkit-display: flex;
  display: flex;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0; }

.rules {
  font-size: 12px;
  color: #a7a7a7;
  text-align: center;
  width: 100%; }

.modal-window {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #808080;
  left: 50%;
  margin-left: -150px;
  padding: 8px;
  position: absolute;
  text-align: center;
  top: 10%;
  width: 300px; }

.modal-window_alerts {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
  height: 0;
  padding: 0;
  opacity: 0;
  z-index: 10; }

@media (max-width: 320px) {
  .modal-window_alerts {
    width: 100%;
    left: initial;
    margin-left: initial; } }

.modal-window__btn {
  display: inline;
  width: 90px; }
