<li (click)="this.todoService.openCloseEditable($event, todo.done)" *ngFor="let todo of listItems; let idx = index; trackBy: trackByTodo;"
    [class.hide_todo]="filter ? filterId ? false : todo.done : !todo.done" class="todos__item todos__item_todo animated">{{todo.value}}
    <input [(ngModel)]="todo.done" (click)="checkTodo(!todo.done, idx, listItems, userId)"
           type='checkbox' class='todos__checkbox todos__checkbox_sub'>
    <button (click)="modWinDelHandler(idx, userId, $event.target)"  class='todos__checkbox todos__checkbox_del animated>'></button>
    <div class='todos__edit_item animated__long'>
        <input (keyup.enter)="todoService.edit(inputTodo, idx, inputTodo.value, listItems, todoService.lSName, userId);"
               (keyup.escape)="todoService.hideEl(inputTodo)" #inputTodo [value]="todo.value" type='text' class='todos__edit'>
    </div>
</li>
<ul class="filters__nav">
    <li class="filters__item">
        <raised-button [raised-button-name]="'All'" (click)="filter = true; filterId = true;" [class.act]="(filter && filterId)" class="act"></raised-button>
    </li>
    <li class="filters__item">
        <raised-button [raised-button-name]="'Active'" (click)="filter = true; filterId = false;" [class.act]="(filter && !filterId)"></raised-button>
    </li>
    <li class="filters__item">
        <raised-button [raised-button-name]="'Completed'" (click)="filter = false;" [class.act]="!filter"></raised-button>
    </li>
    <li class="filters__item">
        <raised-button [raised-button-name]="'Del. Completed'" (click)="modWinDelHandler()" type="submit"></raised-button>
    </li>
</ul>